.searchbar {
  height: 28px;
  width: 100%;
  background: #f1f3f4;
  border: 0.5px solid #ededed;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar-input {
  background: transparent;
  /* padding: 6px 20px; */
  border: none;
  width: 100%;
  outline: none;
  color: black;
}

.searchbar-input::placeholder {
}

.searchbar-icon {
  margin: 0px 16px;
  width: 16px;
  height: 16px;
}
.searchbar-bookmarks {
  margin: 0px 14px;
  width: 16px;
  height: 16px;
}